<div class="card">
  <h5 class="card-header">SyntraPXL Decyrpt</h5>
  <div class="card-body">
    <div class="form-group">
      <label for="text">Text</label>
      <input type="text" class="form-control" id="text" placeholder="wat wil je ontcijferen?" [(ngModel)]="value">
    </div>
    <div class="form-group">
      <label for="key">Sleutel</label>
      <textarea class="form-control" id="key" rows="3" placeholder="Geef je sleutel in"
                [(ngModel)]="key"></textarea>
    </div>
    <br>
    <div class="form-group">
      <label for="textEncrypt">Decryptie resultaat</label>
      <textarea class="form-control" id="textEncrypt" readonly rows="3">{{textDecrypt}}</textarea>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="row-cols-4">
      <button type="button" class="btn btn-danger m-1" (click)="run()">Uitvoeren</button>
      <button type="button" class="btn btn-danger m-1" (click)="clear()">Wissen</button>
    </div>
  </div>
</div>
